<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b1d1b66fd.js" crossorigin="anonymous"></script>
    <title>Loja</title>

    
</head>
<body>

{% extends 'main.html' %}


{% block content %}

<div class="navbar">
    <a href="{% url 'dashBoardAdmin' %}">DashBoard</a>
    <a href="{% url 'listarFornecedor' %}">
        <i class="fa-solid fa-people-group"></i>Fornecedores
    </a>
    <a href="{% url 'listarComponentes' %}">
        <i class="fa-solid fa-gears"></i>Componentes
    </a>
    <a href="{% url 'listarEncomendas' %}">
        <i class="fa-solid fa-truck-field"></i>Encomendas 
    </a>
    <a href="{% url 'listarMaoDeObra' %}">
        <i class="fa-solid fa-helmet-safety"></i>Mão de obra
    </a>
    <a href="{% url 'listarEquipamentos' %}">
        <i class="fa-solid fa-desktop"></i>Equipamentos
    </a>
    <a href="{% url 'listarOrdensProducao' %}">
        <i class="fa-solid fa-hammer"></i>Ordens de Pordução
    </a>
    <a href="{% url 'listarClientes' %}">
        <i class="fa-solid fa-person"></i>Clientes
    </a>
    <a href="{% url 'listaVendas' %}">
        <i class="fa-solid fa-sack-dollar"></i>Vendas
    </a>
    <a href="{% url 'logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i>Logout
    </a>
</div>
<div class="box">
    <br>
    <h2>Componentes em falta</h2>
    {% if componentes_em_falta %}
        <br>
        <table>
            <tr>
                <th>Id</th> 
                <th>Nome</th> 
                <th>Referencia</th> 
                <th>Quantidade</th> 
                <th>Stock Minimo</th> 
                <th>Fornecedor</th> 
                <th>Categoria</th> 
                <th>Preço</th> 
            </tr>
            {% for result in componentes_em_falta %}
                <tr>
                    <td>{{result.0}}</td>
                    <td>{{result.1}}</td>
                    <td>{{result.2}}</td>
                    <td>{{result.3}}</td>
                    <td>{{result.4}}</td>
                    <td>{{result.5}}</td>
                    <td>{{result.6}}</td>
                    <td>{{result.7}}</td>
                    <td>
                        <a href="{% url 'enomendarComponentes' id=result.0 %}"><input class="button-outline" type="submit" value="Encomendar"/></a>
                    </td>
                </tr> 
            {% endfor %}
        </table>
    {% else %}
        <h2 class="text">Não existem componentes em falta</h2>
    {% endif %}
    <br>
    <h2>Encomendas Pendentes</h2>
    {% if encomedas %}
        <br>
        <table>
            <tr>
                <th>N guia</th> 
                <th>Fornecedor</th> 
                <th>Referencia</th> 
                <th>Quantidade</th> 
                <th>Un €</th> 
                <th>Pago</th> 
                <th>Data encomenda</th> 
                <th>Estado</th> 
            </tr>
            {% for result in encomedas %}
                <tr>
                    <td>{{result.0}}</td>
                    <td>{{result.1}}</td>
                    <td>{{result.2}}</td>
                    <td>{{result.3}}</td>
                    <td>{{result.4}}</td>
                    <td>{{result.5}}</td>
                    <td>{{result.6}}</td>
                    <td>
                        <a href="{% url 'download_json' result.0 %}" class="button"><i class="fa-solid fa-file-lines"></i></a>
                        <a href="{% url 'entregarEncomenda' id_encomenda=result.0 %}"><input class="button-outline" type="submit" value="Chegou" /></a>
                    </td>
                </tr> 
            {% endfor %}
        </table>
    {% else %}
        <h2 class="text">Não existem encomendas</h2>
    {% endif %}
</div>


{% endblock content %}

</body>
</html>