<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b1d1b66fd.js" crossorigin="anonymous"></script>
    <title>Loja</title>

    
</head>
<body>

{% extends 'main.html' %}


{% block content %}

<div class="box">
        
    <br>
    <h2>Encomendas por Validar</h2>
    <br>

    <table>
        <tr>
           <th>ID Encomenda</th> 
           <th>Utilizador</th> 
           <th>Data</th> 
           <th>Preço</th> 
           <th>Ações</th> 
        </tr>
        <tr>
            <td>1</td>
            <td>Ze Manuel Antonio</td>
            <td>21/07/2023</td>
            <td>300,40</td>
            <td>
                <a href=""><input class="button" type="submit" value="Validar"/></a>
                <a href=""><input class="button-outline" type="submit" value="Cancelar"/></a>
            </td>
        </tr> 
        <tr>
            <td>2</td>
            <td>Bernardo</td>
            <td>05/10/2023</td>
            <td>150,34</td>
            <td>
                <a href=""><input class="button" type="submit" value="Validar"/></a>
                <a href=""><input class="button-outline" type="submit" value="Cancelar"/></a>
            </td>
        </tr> 
        <tr>
            <td>3</td>
            <td>Maria</td>
            <td>15/11/2023</td>
            <td>379,80</td>
            <td>
                <a href=""><input class="button" type="submit" value="Validar"/></a>
                <a href=""><input class="button-outline" type="submit" value="Cancelar"/></a>
            </td>
        </tr> 
        <tr>
            <td>4</td>
            <td>Gonçalo</td>
            <td>24/10/2023</td>
            <td>400,50</td>
            <td>
                <a href=""><input class="button" type="submit" value="Validar"/></a>
                <a href=""><input class="button-outline" type="submit" value="Cancelar"/></a>
            </td>
        </tr> 
    </table>
    <h2 class="text">Não existem encomendas por validar</h2>
    
</div>

{% endblock content %}

</body>
</html>