<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b1d1b66fd.js" crossorigin="anonymous"></script>
    <title>Loja</title>

    
</head>
<body>

{% extends 'main.html' %}







{% block content %}

<div class="navbar">
    <a href="{% url 'dashBoardAdmin' %}">DashBoard</a>
    <a href="{% url 'listarFornecedor' %}">
        <i class="fa-solid fa-people-group"></i>Fornecedores
    </a>
    <a href="{% url 'listarComponentes' %}">
        <i class="fa-solid fa-gears"></i>Componentes
    </a>
    <a href="{% url 'listarEncomendas' %}">
        <i class="fa-solid fa-truck-field"></i>Encomendas 
    </a>
    <a href="{% url 'listarMaoDeObra' %}">
        <i class="fa-solid fa-helmet-safety"></i>Mão de obra
    </a>
    <a href="{% url 'listarEquipamentos' %}">
        <i class="fa-solid fa-desktop"></i>Equipamentos
    </a>
    <a href="{% url 'listarOrdensProducao' %}">
        <i class="fa-solid fa-hammer"></i>Ordens de Produção
    </a>
    <a href="{% url 'listarClientes' %}">
        <i class="fa-solid fa-person"></i>Clientes
    </a>
    <a href="{% url 'listaVendas' %}">
        <i class="fa-solid fa-sack-dollar"></i>Vendas
    </a>
    <a href="{% url 'logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i>Logout
    </a>
</div>

<div class="box">
        
    <div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

    <div class="action">
        <h2>Todos os Equipamentos</h2>
        <br>
        
        <div style="display: flex; justify-content: space-between; align-items: center;">

            <form method="GET" action="{% url 'listarEquipamentos' %}" style="margin-right: auto;">
                <label for="nome">Filtrar por Nome:</label>
                <input type="text" class="form-control" name="nome" id="nome" value="{{ request.GET.nome }}">
                <input class="button" type="submit" value="Filtrar" />
            </form>
        
            <a href="{% url 'RegistarEquipamentos' %}" class="button" style="text-decoration: none;">
                <i class="fa-solid fa-plus"></i>Criar Equipamento
            </a>
        
        </div>
        <br>
            <br>
            <div>
                <a href="{% url 'listarEquipamentos' %}" class="button" style="text-decoration: none; margin-right: 10px;">
                    <i class="fa-solid fa-filter-circle-xmark"></i>
                </a>
                <a href="{% url 'listarEquipamentos' %}?status=Ativo" class="button" style="text-decoration: none; margin-right: 10px;">Ativos
                </a>
                <a href="{% url 'listarEquipamentos' %}?status=Inativo" class="button" style="text-decoration: none; margin-right: 10px;">Inativos
                </a>
                <a href="{% url 'listarEquipamentos' %}?disponibilidade=true" class="button" style="text-decoration: none; margin-right: 10px;">Disponivel
                </a>
                <a href="{% url 'listarEquipamentos' %}?disponibilidade=false" class="button" style="text-decoration: none;">Indisponivel
                </a>
            </div>

        <br>
        <br>
        

    </div>
    <!-- Adicione este trecho de código no início do bloco "content" -->
    
    <!-- Fim do trecho adicionado -->


    <br>
    <table>
        <tr>
            <th>Id</th> 
            <th>Nome</th> 
            <th>Descrição</th>
            <th>Modelo</th>
            <th>N comp</th>
            <th>Stock</th>
            <th>Preço Un</th>
            <th>Preço</th>
            <th>Estado</th>
            <th>Disponivel</th>
        </tr>
        {% for result in equipamentos %}
        <tr>
            <td>{{result.0}}</td>
            <td>{{result.1}}</td>
            <td>{{result.2}}</td>
            <td>{{result.3}}</td>
            <td>{{result.4}}</td>
            <td>{{result.5}}</td>
            <td>{{result.6}}</td>
            <td>{{result.7}}</td>
            <td>{{result.8}}</td>
            <td>{{result.9}}</td>
            <td>
                {% if result.8 == 'Ativo' %} 
                    <a href="{% url 'editar_equipamento' id_equipamento=result.0 %}"><input class="button" type="submit" value="Editar"/></a>
                    <a href="{% url 'adicionarPreco' id_equipamento=result.0 %}"><input class="button" type="submit" value="Preço"/></a>
                    <a href="{% url 'associarCompEquip' id=result.0 %}"><input class="button" type="submit" value="Associar Componentes"/></a>
                    <a href="{% url 'criarOrdemProducao' id_equipamento=result.0 %}"><input class="button" type="submit" value="Produzir"/></a>
                    {% if result.9  %}
                        <a href="{% url 'indisponivelEquipamento' id_equipamento=result.0 %}"><input class="button-outline" type="submit" value="Indisponivel"/></a>
                    {% else %}
                        <a href="{% url 'disponivelEquipamento' id_equipamento=result.0 %}"><input class="button-outline" type="submit" value="Disponibilizar"/></a>
                    {% endif %}
                    <a href="{% url 'desativarEquipamento' id_equipamento=result.0 %}"><input class="button-outline" type="submit" value="Inativar"/></a>
                {% elif result.8 == 'Inativo' %}
                    <a href="{% url 'ativarEquipamento' id_equipamento=result.0 %}"><input class="button-outline" type="submit" value="Ativar"/></a>
                {% endif %}
                
            </td>
        </tr> 
        {% endfor %}
    </table>

    
</div>
</div>

{% endblock content %}

</body>
</html>