<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b1d1b66fd.js" crossorigin="anonymous"></script>
    <title>Loja</title>

    
</head>
<body>

{% extends 'main.html' %}







{% block content %}

<div class="navbar">
    <a href="{% url 'dashBoardAdmin' %}">DashBoard</a>
    <a href="{% url 'listarFornecedor' %}">
        <i class="fa-solid fa-people-group"></i>Fornecedores
    </a>
    <a href="{% url 'listarComponentes' %}">
        <i class="fa-solid fa-gears"></i>Componentes
    </a>
    <a href="{% url 'listarEncomendas' %}">
        <i class="fa-solid fa-truck-field"></i>Encomendas 
    </a>
    <a href="{% url 'listarMaoDeObra' %}">
        <i class="fa-solid fa-helmet-safety"></i>Mão de obra
    </a>
    <a href="{% url 'listarEquipamentos' %}">
        <i class="fa-solid fa-desktop"></i>Equipamentos
    </a>
    <a href="{% url 'listarOrdensProducao' %}">
        <i class="fa-solid fa-hammer"></i>Ordens de Pordução
    </a>
    <a href="{% url 'listarClientes' %}">
        <i class="fa-solid fa-person"></i>Clientes
    </a>
    <a href="{% url 'listaVendas' %}">
        <i class="fa-solid fa-sack-dollar"></i>Vendas
    </a>
    <a href="{% url 'logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i>Logout
    </a>
</div>
<div class="box">
        
    <div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        



    <div class="action">
        <h2>Todas as Ordens de Produção</h2>
        <br>
        <br>
        <br>
        <div>
            <a href="{% url 'listarOrdensProducao' %}" class="button" style="text-decoration: none; margin-right: 10px;">
                <i class="fa-solid fa-filter-circle-xmark"></i>
            </a>
            <a href="{% url 'listarOrdensProducao' %}?status=producao" class="button" style="text-decoration: none; margin-right: 10px;">Em Produção
            </a>
            <a href="{% url 'listarOrdensProducao' %}?status=concluído" class="button" style="text-decoration: none;">Concluido
            </a>
        </div>

    </div>
    <!-- Adicione este trecho de código no início do bloco "content" -->
    
    <!-- Fim do trecho adicionado -->


    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Equipamento</th>
            <th>Nome</th>
            <th>Modelo</th>
            <th>Mão de Obra</th>
            <th>Preço</th>
            <th>Unidade €</th>
            <th>Quantidade</th>
            <th>Preço Total</th>
            <th>Estado</th>
            <th>Ações</th>
        </tr>
        {% for result in ordensProducao %}
        <tr>
            <td>{{ result.0 }}</td>
            <td>{{ result.1 }}</td>
            <td>{{ result.2 }}</td>
            <td>{{ result.3 }}</td>
            <td>{{ result.5 }}</td>
            <td>{{ result.6 }}</td>
            <td>{{ result.7 }}</td>
            <td>{{ result.8 }}</td>
            <td>{{ result.9 }}</td>
            <td>{{ result.10 }}</td>
            <td>
                {% if result.10 == 'Produção' %}
                <a href="{% url 'concluir_ordem' ordem_id=result.0 %}" class="button" style="text-decoration: none;">Concluir</a>
                <a href="{% url 'cancelar_ordem' ordem_id=result.0 %}" class="button-outline" style="text-decoration: none;">Cancelar</a>
                {% else %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


    
</div>
</div>

{% endblock content %}

</body>
</html>