<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b1d1b66fd.js" crossorigin="anonymous"></script>
    <title>Loja</title>

    
</head>
<body>

{% extends 'main.html' %}







{% block content %}

<div class="navbar">
    <a href="{% url 'dashBoardAdmin' %}">DashBoard</a>
    <a href="{% url 'listarFornecedor' %}">
        <i class="fa-solid fa-people-group"></i>Fornecedores
    </a>
    <a href="{% url 'listarComponentes' %}">
        <i class="fa-solid fa-gears"></i>Componentes
    </a>
    <a href="{% url 'listarEncomendas' %}">
        <i class="fa-solid fa-truck-field"></i>Encomendas 
    </a>
    <a href="{% url 'listarMaoDeObra' %}">
        <i class="fa-solid fa-helmet-safety"></i>Mão de obra
    </a>
    <a href="{% url 'listarEquipamentos' %}">
        <i class="fa-solid fa-desktop"></i>Equipamentos
    </a>
    <a href="{% url 'listarOrdensProducao' %}">
        <i class="fa-solid fa-hammer"></i>Ordens de Pordução
    </a>
    <a href="{% url 'listarClientes' %}">
        <i class="fa-solid fa-person"></i>Clientes
    </a>
    <a href="{% url 'listarOrdensProducao' %}">
        <i class="fa-solid fa-sack-dollar"></i>Vendas
    </a>
    <a href="{% url 'logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i>Logout
    </a>
</div>

<div class="box">
        
    <div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        



    <div class="action">
        <h2>Todas as Encomendas</h2>
        <br> 
        <div class="filter-form">
            <form method="GET" action="{% url 'listarEncomendas' %}">
                <label for="guia">Filtrar por número de guia:</label>
                <input type="text" class="form-control" name="id_encomenda" id="guia" value="{{ request.GET.id_encomenda }}">
                <input class="button" type="submit" value="Filtrar" />
            </form>
        </div>
        <br>
        <br>
        <a href="{% url 'listarEncomendas' %}" class="button" style="text-decoration: none; margin-right: 10px;">
            <i class="fa-solid fa-filter-circle-xmark"></i>
        </a>
        <a href="{% url 'listarEncomendas' %}?status=Entregue" class="button" style="text-decoration: none; margin-right: 10px;">
            <i class="fas fa-truck-fast"></i>Entregues
        </a>
        <a href="{% url 'listarEncomendas' %}?status=Pendente" class="button" style="text-decoration: none; margin-right: 10px;">
            <i class="fa-solid fa-exclamation"></i>Pendentes
        </a>
    </div>
    <!-- Adicione este trecho de código no início do bloco "content" -->
    
    <!-- Fim do trecho adicionado -->
   

    <br>
    <table>
        <tr>
            <th>N guia</th> 
            <th>Fornecedor</th> 
            <th>Referencia</th> 
            <th>Quantidade</th> 
            <th>Un €</th> 
            <th>Pago</th> 
            <th>Data encomenda</th> 
            <th>Data Entregue</th> 
            <th>Estado</th> 
        </tr>
        {% for result in encomendas %}
        <tr>
            <td>{{ result.0 }}</td>
            <td>{{ result.1 }}</td>
            <td>{{ result.2 }}</td>
            <td>{{ result.3 }}</td>
            <td>{{ result.4 }}</td>
            <td>{{ result.5 }}</td>
            <td>{{ result.6 }}</td>
            <td>{{ result.7 }}</td>
            <td>{{ result.8 }}</td>
            <td>
                {% if result.8 == 'Pendente' %} 
                    <a href="{% url 'download_json' result.0 %}" class="button"><i class="fa-solid fa-file-lines"></i></a>
                    <a href="{% url 'cancelarEncomenda' id_encomenda=result.0 %}"><input class="button-outline" type="submit" value="Cancelar" /></a>
                    <a href="{% url 'entregarEncomenda' id_encomenda=result.0 %}"><input class="button-outline" type="submit" value="Chegou" /></a>
                {% elif result.8 == 'Entregue' %}
                    <a href="{% url 'download_json' result.0 %}" class="button"><i class="fa-solid fa-file-lines"></i></a>
                {% endif %}
            </td>
        </tr> 
        {% endfor %}
    </table>

    
</div>
</div>

{% endblock content %}

</body>
</html>