<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8b1d1b66fd.js" crossorigin="anonymous"></script>
    <title>Loja</title>

    
</head>
<body>

{% extends 'main.html' %}







{% block content %}

<div class="navbar">
    <a href="{% url 'listarEquipamentosMongo' %}">Loja</a>
    <a href="{% url 'listaCompras' %}">
        <i class="fa-solid fa-list"></i> Lista de compras
    </a>
    <a href="{% url 'listarEquipamnetosCarrinho' %}">
        <i class="fa-solid fa-sack-dollar"></i> Carrinho
    </a>
    <a href="{% url 'logout' %}">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
</div>
<div class="box">
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="action">
            <h2>Todas as Ordens de Produção</h2>
            <br>

            <!-- Adicione este trecho de código no início do bloco "content" -->

            <!-- Fim do trecho adicionado -->

            <!-- Exibir o link "Finalizar Compra" apenas uma vez -->
            {% for result in equipamentos %}
                {% if forloop.first %}
                    <a href="{% url 'finalizarCompra' id_carrinho=result.0 %}" class="button" style="text-decoration: none;">
                        <i class="fa-solid fa-plus"></i> Finalizar Compra
                        <td>Total a pagar: {{ result.5 }}</td>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <table>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço Un €</th>
                <th>Total</th>
            </tr>
            {% for result in equipamentos %}
                <tr>
                    <td>{{result.2}}</td>
                    <td>{{result.3}}</td>
                    <td>{{result.4}}</td>
                    <td>{{result.5}}</td>
                    <td>
                        <a href="{% url 'remover_equipamento_carrinho' equipamento_id=result.1 id_carrinho=result.0 %}">
                            <input class="button-outline" type="submit" value="Remover"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock content %}

</body>
</html>